body{
  background-color:  #EAF6F6;
}
hr{

  height: 0px;
  border-color: grey;
  border-width: 5px;
  border-style: dotted none none;
  width: 30%;
}
h1 , h3{
  color: #65BFBF;

}
.image{
  height: 240px;
}
.circular{
  border-radius: 100%;
}
table{
  border-style: none;
}
